body{
    margin:0;
    padding:0;
    width:100%;
    font-family: 'Squada One', cursive;

}


.background img{

    position: fixed;
    left: 0;
    bottom: 0;
    width:90%;
    z-index: -1;
    
}
.container{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.container .login{
    width: 50%;
    margin: 5%;
}
.container .illustration{
    
    width: 30%;
    margin: 5%;
}
.illustration img{
    position: fixed;
    bottom: 200px;
    left: 0;
    width:400px;
   
}
.login-img img{
   width:150px;
}


.login{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.welcome{
    line-height: .5;
    text-align: center;
    margin-bottom: 3px;
    font-size: 30px;
}
.welcome p{
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    color:#333;

}


form .input input{
    display: block;
    border: none;
    outline: none;
    
    border-bottom: 1px solid rgb(143, 139, 139);
    padding: 2px 60px;
}

.input{
    width: 80%;
    line-height: .5;
}
.form .input  i{
    margin-right: 10px;
    color:rgb(114, 109, 109); ;
    transition: .3s;
}
.form .input h3{
    font-size: 20px;
    display: inline-block;
    color: rgba(114, 109, 109, 0.808);
    line-height: .5;
    margin-bottom: 0;
    transition: .3s;
    
}

.form a{
    margin-top: 10px;
    text-decoration: none;
    float:right;
    color: rgba(114, 109, 109, 0.808);
    
}
.form a:hover{
    color:rgb(255, 174, 0);
    cursor: pointer;

}
.btn{
    margin-top: 10px;

}
.btn .submit{
    margin-top: 30px;
    padding: 15px 130px;
    border: none;
    outline: none;
    background-image:linear-gradient(to right , rgb(255, 165, 30),rgb(255, 192, 98),rgb(255, 174, 0) );
    border-radius: 30px;
    background-size: 200%;
   
    font-size: 20px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: .5s;
}
.submit:hover{
    background-position: right;
}

.input.focus i {
    color: rgb(255, 174, 0);
}

.input.focus h3{
    color: rgb(255, 174, 0);
    transform:translateY(-6px);
}
.input.focus .in{
    border-bottom: 1px solid rgb(255, 174, 0) ;
}


@media (max-width:923px){

    .background img{
        display: none;
    }
    .illustration{
        display: none;
    }
    .container{
        justify-content: center;
        width: 80%;
        margin: 0 auto;
    }
    .login{
        width:90%;
        
        margin: 0 auto;
        
        
    }
}
@media (max-width:615px){
    .login{
     
        width:50%;
        font-size: 20px;
        margin: 0 auto;

    }
    .login .welcome{
        font-size: 20px;
        line-height: 1;
    }
  
    
}
@media (max-width:409px){
    .login {
        min-width: 100px;
    }

    .login .welcome h1{
        
        line-height: .5;
    }
    .login .welcome  h1 span{
        display: none;
    }

}




